  <h2 id="jhi-venta-heading" data-cy="VentaCreateUpdateHeading" jhiTranslate="concesionarioApp.venta.home.createOrEditLabel">
      Create or edit a Venta
    </h2>

    <div>
        <div class="modal-header">
            <h4 class="modal-title" data-cy="ventaDeleteDialogHeading" jhiTranslate="entity.delete.title">Confirm delete operation</h4>
        
            <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()"></button>
          </div>
        
          <div class="modal-body">
            <div>
                <jhi-alert-error></jhi-alert-error>
                <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">

                <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
                  <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
                  <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
                </div>
        
                <div class="row mb-3">
                  <label class="form-label" jhiTranslate="concesionarioApp.venta.unidades" for="field_unidades">Unidades</label>
                  <input type="number" class="form-control" name="unidades" id="field_unidades" data-cy="unidades" formControlName="unidades" />
                  <div *ngIf="editForm.get('unidades')!.invalid && (editForm.get('unidades')!.dirty || editForm.get('unidades')!.touched)">
                    <small
                      class="form-text text-danger"
                      *ngIf="editForm.get('unidades')?.errors?.required"
                      jhiTranslate="entity.validation.required"
                    >
                      This field is required.
                    </small>
                    <small
                      class="form-text text-danger"
                      [hidden]="!editForm.get('unidades')?.errors?.number"
                      jhiTranslate="entity.validation.number"
                    >
                      This field should be a number.
                    </small>
                  </div>
                </div>
        
                <div class="row mb-3">
                  <label class="form-label" jhiTranslate="concesionarioApp.venta.fecha" for="field_fecha">Fecha</label>
                  <div class="input-group">
                    <input
                      id="field_fecha"
                      data-cy="fecha"
                      type="text"
                      class="form-control"
                      name="fecha"
                      ngbDatepicker
                      #fechaDp="ngbDatepicker"
                      formControlName="fecha"
                    />
                    <button type="button" class="btn btn-secondary" (click)="fechaDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                  </div>
                  <div *ngIf="editForm.get('fecha')!.invalid && (editForm.get('fecha')!.dirty || editForm.get('fecha')!.touched)">
                    <small class="form-text text-danger" *ngIf="editForm.get('fecha')?.errors?.required" jhiTranslate="entity.validation.required">
                      This field is required.
                    </small>
                  </div>
                </div>
        
                <div class="row mb-3">
                  <label class="form-label" jhiTranslate="concesionarioApp.venta.descuento" for="field_descuento">Descuento</label>
                  <input type="number" class="form-control" name="descuento" id="field_descuento" data-cy="descuento" formControlName="descuento" />
                </div>
        
                <div class="row mb-3">
                  <label class="form-label" jhiTranslate="concesionarioApp.venta.precio_total" for="field_precio_total">Precio Total</label>
                  <input
                    type="number"
                    class="form-control"
                    name="precio_total"
                    id="field_precio_total"
                    data-cy="precio_total"
                    formControlName="precio_total"
                  />
                  <div
                    *ngIf="editForm.get('precio_total')!.invalid && (editForm.get('precio_total')!.dirty || editForm.get('precio_total')!.touched)"
                  >
                    <small
                      class="form-text text-danger"
                      *ngIf="editForm.get('precio_total')?.errors?.required"
                      jhiTranslate="entity.validation.required"
                    >
                      This field is required.
                    </small>
                    <small
                      class="form-text text-danger"
                      [hidden]="!editForm.get('precio_total')?.errors?.number"
                      jhiTranslate="entity.validation.number"
                    >
                      This field should be a number.
                    </small>
                  </div>
                </div>
        
          <div>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
            <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
          </button>
  
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            [disabled]="editForm.invalid || isSaving"
            class="btn btn-primary"
          >
            <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
          </button>
        </div>
        </form>
       </div> 
          <div class="modal-footer">
          </div>
