<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-coche-heading" data-cy="CocheCreateUpdateHeading" jhiTranslate="concesionarioApp.coche.home.createOrEditLabel">
        Create or edit a Coche
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="concesionarioApp.coche.color" for="field_color">Color</label>
          <input type="text" class="form-control" name="color" id="field_color" data-cy="color" formControlName="color" />
          <div *ngIf="editForm.get('color')!.invalid && (editForm.get('color')!.dirty || editForm.get('color')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('color')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="concesionarioApp.coche.matricula" for="field_matricula">Matricula</label>
          <input type="text" class="form-control" name="matricula" id="field_matricula" data-cy="matricula" formControlName="matricula" />
          <div *ngIf="editForm.get('matricula')!.invalid && (editForm.get('matricula')!.dirty || editForm.get('matricula')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('matricula')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="concesionarioApp.coche.potencia" for="field_potencia">Potencia</label>
          <input type="number" class="form-control" name="potencia" id="field_potencia" data-cy="potencia" formControlName="potencia" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="concesionarioApp.coche.precio" for="field_precio">Precio</label>
          <input type="number" class="form-control" name="precio" id="field_precio" data-cy="precio" formControlName="precio" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="concesionarioApp.coche.puertas" for="field_puertas">Puertas</label>
          <input type="text" class="form-control" name="puertas" id="field_puertas" data-cy="puertas" formControlName="puertas" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="concesionarioApp.coche.combustible" for="field_combustible">Combustible</label>
          <input
            type="text"
            class="form-control"
            name="combustible"
            id="field_combustible"
            data-cy="combustible"
            formControlName="combustible"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="concesionarioApp.coche.vendido" for="field_vendido">Vendido</label>
          <input type="checkbox" class="form-check" name="vendido" id="field_vendido" data-cy="vendido" formControlName="vendido" />
          <div *ngIf="editForm.get('vendido')!.invalid && (editForm.get('vendido')!.dirty || editForm.get('vendido')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('vendido')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="concesionarioApp.coche.marca" for="field_marca">Marca</label>
          <select class="form-control" id="field_marca" data-cy="marca" name="marca" formControlName="marca">
            <option *ngIf="!editForm.get('marca')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="marcaOption.id === editForm.get('marca')!.value?.id ? editForm.get('marca')!.value : marcaOption"
              *ngFor="let marcaOption of marcasSharedCollection; trackBy: trackMarcaById"
            >
              {{ marcaOption.nombre }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['marca'])!.invalid && (editForm.get(['marca'])!.dirty || editForm.get(['marca'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['marca'])?.errors?.required" jhiTranslate="entity.validation.required">
            This field is required.
          </small>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="concesionarioApp.coche.modelo" for="field_modelo">Modelo</label>
          <select class="form-control" id="field_modelo" data-cy="modelo" name="modelo" formControlName="modelo">
            <option *ngIf="!editForm.get('modelo')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="modeloOption.id === editForm.get('modelo')!.value?.id ? editForm.get('modelo')!.value : modeloOption"
              *ngFor="let modeloOption of modelosSharedCollection; trackBy: trackModeloById"
            >
              {{ modeloOption.nombre }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['modelo'])!.invalid && (editForm.get(['modelo'])!.dirty || editForm.get(['modelo'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['modelo'])?.errors?.required" jhiTranslate="entity.validation.required">
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
